@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
}
a{
    text-decoration: none;
    letter-spacing: 0.8px;
    color: rgba(0, 0, 0, 0.9);
}
#headNav{
    height: 17px;
    display: flex;
    background-color: #EEE;
    justify-content: space-between;
    padding: 5px 100px;
    font-size: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}
#headNav a{
    margin: 0 10px;
    
}
#headNav img{
    width: 11px;
}
#logo {
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
}
#logoMall {
    color: #2568fb;
}
#nav{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
    height: 50px;
}
#mainNav{
    display: flex;
    max-width: 1170px;
    margin: auto;
    align-items: center;
    position: relative;
}
#mainNav>div{
    display: flex;
    padding: 0 10px;
    height: 100%;
}
#mainNav>div:nth-child(1){
    width: 14%;
}
#mainNav>div:nth-child(2){
    font-size: 14px;
    width: 43%;
    
}
#mainNav>div:nth-child(2)>ul{
    display: flex;
    height: 100%;
}
#mainNav>div:nth-child(2)>ul>li{
    list-style: none;
    
}
#mainNav>div:nth-child(2)>ul>li>a{
    padding: 12px 20px;
}
#mainNav>div:nth-child(2)>ul>li>a:hover{
    border-bottom: 5px solid rgba(212, 216, 2, 0.87);
}
#mainNav>div:nth-child(2)>ul>li div{
display: none;
top: 51px;
left: 0;
width: 1200px;
position: absolute;
background-color: rgb(255, 255, 255);
max-height: 87vh;
overflow-y: scroll;
}
#mainNav>div:nth-child(2)>ul>li div::-webkit-scrollbar{
    display: none;
}
#mainNav>div:nth-child(2)>ul li div>ul{
    margin: 20px;
    width: 20%;
}
#mainNav>div:nth-child(2)>ul li div>ul:nth-child(4){
    width: 40%;
}
#mainNav>div:nth-child(2)>ul>li:hover div{
display: flex;
}
#mainNav>div:nth-child(2)>ul>li div>ul li{
    font-size: 12px;
    list-style: none;
    padding: 2px 10px;
}
#mainNav>div:nth-child(2)>ul>li div li a:hover{
text-decoration: underline;
}
#mainNav>div:nth-child(2)>ul>li div li.listHeader{
    margin-bottom: 10px;
    font-size: 16px;
}
#mainNav>div:nth-child(2)>ul>li div li.listHeader a:hover{
    text-decoration: none;
}
#mainNav>div:nth-child(2)>ul>li div li.popular{
    height: 40px;
}
#mainNav>div:nth-child(2)>ul>li div li.popular~li a:hover{
    text-decoration: none;
}
#mainNav>div:nth-child(2)>ul>li div .ulBorder{
    border-right: 1px solid gray;
}
#mainNav>div:nth-child(2)>ul>li div ul ul{
    margin-bottom: 50px;
}
ul.special li a{
    color: rgba(109, 107, 107, 0.932);
}
ul.special li:nth-child(1){
    color: rgba(143, 143, 143, 0.644);
    font-weight: 800;
    margin-bottom: 20px;
}
ul.special li{
    margin-bottom: 10px;
}
ul.special li img{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
ul.special li{
    display: flex;
    align-items: center;
}
.SeeAllDevices a{
    color: rgb(73, 189, 228);
    text-decoration: underline;
}
 .SeeAllDevices a:hover{
    text-decoration: none !important;
}
#mainNav>div:nth-child(3){
    display: flex;
    align-items: center;
    width: 43%;
    height: 50px;
    
}
#mainNav>div:nth-child(3)>div{
    margin:0 6px;
}
#mainNav>div:nth-child(3)>div>img{
    width: 20px;
    padding: 10px 0px 10px 8px;
}
#mainNav>div:nth-child(3)>div:nth-child(1){
    width: 60%;
    display: flex;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.822);
    align-items: center;
}
#mainNav>div:nth-child(3)>div:nth-child(2){
    font: size 25px;
}
#mainNav>div:nth-child(3)>div:nth-child(3){
    font-size: 16px;
}
#mainNav>div:nth-child(3)>div:nth-child(4) img{
    transform: translateY(2px);
}
#mainNav>div:nth-child(3)>div:nth-child(5) img{
    transform: translateY(2px);
}
#mainNav>div:nth-child(3)>div:nth-child(6)>img{
    width: 30px;
    transform: translateY(2px);
    padding: 0;
}
#mainNav>div:nth-child(3)>div input{
    border: none;
    background-color: transparent;
    font-size: 12px;
    padding: 0px 10px;
    width: 80%;
    color: black;
    font-weight: 400;
}
#mainNav>div:nth-child(3)>div input:focus{
    outline: none;
}
#login{
    position: relative;
    cursor: pointer;
}
#favorite,#cart{
    cursor: pointer;
}
#login ul li{
    top:40px;
    left: 20px;
position: absolute;

    list-style: none;
    color: blue;
    display: none;
}
#tab{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 78px;
    
}
#tab>div{
    padding: 21px 24px;
    font-size: 17px;
}
#containar{
    width: 100%;
    margin-top: 140px;
    margin-bottom: 0;
}
#slider {
    position: relative;
    width: calc(100%-10px);
    overflow:hidden ;
}
.slider-images{
    margin: 0 10px 10px 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
#slider>div>img{
    margin-right: 10px;
    width: 34%;
}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.btn.prev {
    left: 10px;
} 
.btn.next {
    right: 10px;
} 
.btn:hover {
    opacity: 1;
}
.full-width-image{
    width: 100%;
    margin: 10px 0;
}
.full-width-image img{
    width: 100%;
}
.catalog{
    display: flex;
    max-width: 1170px;
    margin: 10px auto;
    text-align: center;
    overflow: hidden;
}
.catalog div{
    margin: 0 10px;
}
.catalog div img{
    width: 125px;
    height: 173px;
}
.catalog div a{
    color: black;
    font-size: 10px;
    font-weight: bolder;
}
.designOfWeek{
    margin: 40px 0 10px 0;
    width: 100%;
    text-align: center;
}
.designOfWeek div{

    display: flex;
}
.designOfWeek div img{
    width: 50%;
}
.tranding {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
.tranding h1{
    font-size: 20px;
}
.tranding>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.tranding div>div img{
    width: 100%;
}
.bestPics{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.bestPics h1{
    font-size: 20px;
}
.bestPics>div{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.bestPics>div div img{
    width: 100%;
}
.categories{
    text-align: center;
    width: 100%;
}
.categories h1{
    font-size: 20px;
}
.categories>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.categories div img{
    width: 100%;
}
#footer{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 100px;
}
#footer a{
    color: white;
}
#footer p{
    font-size: 15px;
}
#footer>div{
    max-width: 85%;
    margin: 0 auto;
}
#footer h1{
    font-size: 30px;
    
}
#footer .heading{
    color: yellow;
    margin-bottom: 10px;
}
#footer>div .contact{
    display: grid;
    grid-template-columns: repeat(3,0.9fr) 1.3fr;
    gap: 20px;
}
#footer>div .contact .subs input[type="button"]{
    width: 40%;
    background-color: yellow;
    border: 2px solid yellow;
    font-size: 18px;
    padding: 5px 10px;
}
#footer>div .contact .subs input[type="email"]{
    background-color:transparent;
    border :none;
    padding: 5px 0;
    width: 50%;
    border-bottom: 2px solid yellow;
    font-size: 18px;
    color: gray;
}
#footer>div .contact .subs input[type="email"]:focus{
    outline: none;
}
#footer>div .contact .app{
    display: flex;
}
#footer>div .contact .app img{
    width: 90%;
}
.discription h3{
    margin: 10px 0;
}
.discription p{
    font-size: 18px;
    margin: 20px 0;
}
.discription a{
    color: rgb(81, 195, 233);
}
@media only screen and (max-width: 900px){

    #headNav{
        display: none;
    }
    
}