.content{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: calc(100%-86px);
    text-align: center;
    margin-top: -20px;
}
.content>div{
    width: 50%;
    padding: 0 10px;

}
.content div img{
    width:100%;
   
    margin: 9px;
}
.content>div:nth-child(1){
    background-image: linear-gradient(0deg,#fff4c4,#fff);
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
.content>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.content>div:nth-child(2) h1{
    margin-bottom: 20px;
    
}
.content>div:nth-child(2) h3{
    color: gray;
    margin: 20px;
}
.loginData input{
    display: block;
    margin:auto;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    width: 80%;
}
.loginData input[type="text"] , .loginData input[type="password"],.loginData input[type="url"], .loginData input[type="number"]{
    display: none;
}
.loginData p#Gender{
    display: none;
}
button{
    width: 80%;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 20%;
    background-image: linear-gradient();
}
.loginData h2{
    margin: 10px;
    color: green;
}